body {
    background-color: white;
}

#logo {
    height: 15rem;
}

#index_form {
    font-weight: bold;
    background-color: lightgray;
    margin: auto;
    box-shadow: grey 1px 1px 10px;
}

.index_input {
    border: 1px solid gray;
    background-color: lightgrey;
}

#index_button {
    background-color: #2a727a;
}

#op_titulo {
    color: white;
}

#op_card {
    background-color: black;
}

#op_card_body {
    background-color: lightgrey;
}

/*NAVBAR*/
.navbar-brand{
    cursor: pointer;
}
#nav-title{
    color: white;
    background-color: #2a727a;
    padding: 0rem 1rem;
    border-radius: 3px;
}
.nav-link{
    cursor: pointer;
}
.nav-link:hover{
    border-radius: 10px;
    box-shadow: 1px 5px 10px lightgray;
}
.seleccionado{
    border-radius: 10px;
    box-shadow: 1px 5px 10px lightgray;
}
.nav-link label{
    cursor: pointer;
    background-color: #2a727a;
}
#orange{
    color: orangered;
}
#nav-salir{
    color: red;
}


/*TABLAS*/

/* .table{
    background-color: white;
}
.encabezados{
    text-align: center;
    cursor: pointer;
}
.encabezados th{
    padding: 10px 25px;
}
.selectedTh{
    background-color: blue;
}
.selectedTds{
    background-color: red;
}
.table tr{
    height: 100%;
} */

/*xs*/
/*En esta medida toma lo que esta en el css por default*/
/*sm*/
@media (min-width: 576px) {

}
/*md*/  
@media (min-width: 768px) {
    
}
/*lg*/
@media (min-width: 992px) {
    /* .table thead{
        position: absolute;
        top: 40px;
    }
    .contenedorTabla{
        margin-top: 50px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 470px;
    } */
}
/*xl*/
@media (min-width: 1200px) {
    
}
